<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172310805434-7b6cph4g7vfibq6a83p7cq6a7lghdbij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172310805434-7b6cph4g7vfibq6a83p7cq6a7lghdbij</string>
	<key>API_KEY</key>
	<string>AIzaSyBOMlwB8MdM__kraoysrsX07Liqn-sP-rQ</string>
	<key>GCM_SENDER_ID</key>
	<string>172310805434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusOla</string>
	<key>PROJECT_ID</key>
	<string>campusola-4a131</string>
	<key>STORAGE_BUCKET</key>
	<string>campusola-4a131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172310805434:ios:de9e19c8ddf494aa19fb83</string>
</dict>
</plist>